.App {
  text-align: center;
}

.App-header, main {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  min-height: 15vh;
}

main {
  min-height: 85vh;
}

button.remove-user {
  margin-left: 20px;
}

/* // blue: #003882
// red: #d11021
// gr: #035c2c
// yellow: #f5b60b */
li {
  margin-bottom: 20px;
}

.card {
  background-color: #EEE;
  margin: 5px;
  padding: 0;
  height: 7vw;
  width: 5vw;
  position: relative;
  border-radius: 2px;
  border: 2px #eee solid;
  font-weight: bold;
  min-height: 70px;
  min-width: 50px;
}

.card-value {
  background-color: #eee;
  height: 100%;
  width: 100%;
  border-radius: 50px 0px 50px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-top-left-value {
  color: #eee;
  position: absolute;
  top: -1.95%;
  left: 6.5%;
  font-size: 12px;
}

.card-bottom-right-value {
  color: #eee;
  position: absolute;
  bottom: 0.05%;
  right: 2.5%;
  font-size: 12px;
  transform: rotate(180deg);
}

.card.blue {
  color: #003882;
  background-color: #003882;
}

.card.red {
  color: #d11021;
  background-color: #d11021;
}

.card.green {
  color: #035c2c;
  background-color: #035c2c;
}

.card.yellow {
  color: #f5b60b;
  background-color: #f5b60b;
}

.card.black {
  color: #222;
  background-color: #222;
  font-size: 18px;
}

.card.draw-pile {
  background-color: #eee;
}